

.navbar{
font-size:25px;
text-align: center;
}

body{
    background-image: url('imags/bg.jpg');
    background-repeat: no-repeat;


}
.container{
 margin: 30px;
   
background-color: rgb(68, 39, 3);
    color: blanchedalmond;
}
@media screen and (max-width: 412px) {
    body {
      width:30rem;
    }
  }